* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.cookies, 
footer {
    border: 2px solid black;
    text-align: center;
    padding: .5rem;
}

header {
    border: 2px solid black;
    padding: .5rem;
    position: sticky;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: calc( 3rem + 10px);
}

article {
    border: 1px solid black;
    aspect-ratio: 1/1;
    margin: 1rem;
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

article:nth-child(1) {
    background-image: url("cat-gac84cd5ee_640.jpg");
}

article:nth-child(2) {
    background-image: url("rat-gef93960b7_640.jpg");
}

article:nth-child(3) {
    background-image: url("alpaca-g6f792d40a_640.jpg");
}

article:nth-child(4) {
    background-image: url("brown-g6b4b1e920_640.jpg");
}

article::after {
    content: "Kliknij, aby zobaczyć zwierzę";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: .5s;
}

article:active:after {
    opacity: 0;
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    article {
        width: 35%;
    }
}